.box {
   /* display: block; */
   /* display: inline; */
   /* display: inline-block; */
   /* display: none; */
   
   background-color: red;
   width: 100px;
   height: 100px;
   margin-top: 40px;
}