/* try commenting out or changing the values below */
*{
    background-color: lightgray;
    /* font-family: monospace; */
}

/* Notice how # is used for id and . is used for class */

#idSelector{
    background-color: skyblue;
    font-family: cursive;
}

.classSelector{
    background-color: lightgreen;
    font-family: fantasy;
}


/* try typing any of the combinator selectors(~,>,space,+) how each one works */
.child-1 div{
    background-color: aqua;
}


















































































/* extra styling for the combinator selectors for visual purposes */
/* go through the code and try to understand what each line does as a challenge */

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#idSelector{
    width: 90vw;
    height: 100px;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    margin-bottom: 20vh;
    margin-top: 20vh;
}
.classSelector{
    width: 90vw;
    height: 100px;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    margin-bottom: 35vh;
}



/* Style for the CombinatorSelectors Container */
.combinatorSelectors {
    display: flex; /* Use flexbox to arrange child divs horizontally */
    justify-content: space-between; /* Distribute children evenly */
    height: 80vh;
}

/* Style for Child Divs */
.combinatorSelectors .child-1,
.combinatorSelectors .child-2,
.combinatorSelectors .child-3 {
    width: 200px;
    height: 100px;
    /* background-color: yellow; */
    text-align: center;
    line-height: 100px; /* Vertically centers the text */
}

/* Style for Grandchild and Grand-grandchild */
.combinatorSelectors .child-1 .grandchild-1,
.combinatorSelectors .child-1 .grandchild-2,
.combinatorSelectors .child-1 .grandchild-2 .grand-grand-child {
    width: 200px;
    height: 100px;
    /* background-color: orange; */
    text-align: center;
    line-height: 100px; /* Vertically centers the text */
}
