#box{
    background-color: red;
    width: 300px;
    height: 300px;
    margin: 100px;
    /* transform: translate(45px,90px); */
    /* transform: translateX(40px); */
    /* transform: translateY(60px); */
    /* transform: rotate(45deg); */
    /* transform: skewX(20deg); */
    /* transform: skewY(20deg); */

}