/* this below import line is one of the ways we can import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    background-color: black;
}

/* these are all some of the font properties try commenting or 
changing these values to understand how they work */


.text1,.text2{
    /* font-style:italic; */
    font-family: 'Courier New', Courier, monospace;
    /* font-family:poppins ; */
    font-weight: 900;
    color: rgb(14, 242, 63);
    text-align: center;
    font-size: large;
    text-decoration: underline;
    line-height: 40px;
    /* letter-spacing: -5px; */
}